* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #010101;
  color: #fff;
}

.main-header {
  position: relative;
}

.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  /* position: relative; */
  will-change: transform;
}

.layers__titel {
	position: relative;
  font-weight: 600;
  margin-top: 568px;
  font-size: 146px;
	z-index: 1;
	text-shadow: 0 0 40px #8D6D29;
}

.layers__bumble {
  width: 727px;
  height: 471px;
  margin-right: 1061px;
  margin-top: 357px;
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
}

.layers__transformer {
  margin-left: 1169px;
  margin-top: 316px;
	width: 691px;
	height: 512px;
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
}
